<footer id='footer' class='container'>
	<div class='col-md-12'>
		<div class='contact-info'>
			<h3> Contact Us </h3>
			<h5>Victoria, British Columbia</h5>
			<h5>info@irisdynamics.com</h5>
			<h5>+1 888 995-7050</h5>
		</div>
	</div>
</footer>
