<div class='head-image' id='page-head'>

	<div class='item' id='slide-1'>
		<div class='item-desc' id='slide-1-desc'
			data--50-top='opacity: 1; top: 10%;'
			data--450-top='opacity: 0.25; top: 35%;'
			data-anchor-target='#slide-1-desc' >
			<span class='squid-white title'>IRIS DYNAMICS</span> <br>
			<span class='tagline'><i> Transforming how people interact with machines. </i></span>
		</div>

		<div class='item' id='jet'
			data--50-top='opacity: 1; right: 0; top: 15%;'
			data--650-top='opacity: 0.25; top: 30%;'
			data-anchor-target='#jet' >
			<div class='fighter'>
				<%= image_tag 'fighter-jet.png' %>
			</div>
		</div>
	</div>


</div>
