<div class='head-image'>
	<div class='item' id='slide-1'
		data-center='background-position: 50% 0px;'
		data-top-bottom='background-position: 50% -150px;'
		data-anchor-target'#slide-1'
	>
		<div class='item-desc'
			data--150-top='opacity: 1;'
			data--300-top='opacity: 0.5;'
			data-anchor-target='#slide-1'
		>
			<span class='title'>IRIS DYNAMICS</span> <br>
			<span class='tagline'>We are the advanced motion control systems innovator that provides precision control-loading
			actuator systems for aerial, marine and terrestrial vehicles, factory automation, simulation and remote control.</span>
		</div>

		</div>
	</div>
</div>
