<div class='head-image' id='page-head'>
	<div class='item' id='slide-1'>
		<div class='item-desc'
			data--50-top='opacity: 1; top: 10%;'
			data--450-top='opacity: 0.25; top: 35%;'
			data-anchor-target='#slide-1'
		>
			<span class='title'>IRIS DYNAMICS</span> <br>
			<span class='tagline'></span>
		</div>

		</div>
	</div>
</div>
