		<div class='row glyph-wrapper'>
			<div class='glyph col-md-4'>
				<%= fa_icon 'fighter-jet 4x' %>
				<h4 class='title'> Human Feedback </h4>
				<p>
					Human feedback refers to tactile feedback technology that allows the user to feel the forces acting upon remote machines or vehicles.
					These are known as Control Loading systems (CLS) in the flight simulation industry.
				</p>
			</div>

			<div class='glyph col-md-4'>
				<%= fa_icon 'ship 4x' %>
				<h4 class='title'> Products and Services </h4>
				<p>
					Iris Dynamics currently offers a prosumer control loading yoke to the
					flight simulator market. Iris Dynamics also offers consulting and custom applications for the aerospace, drone, automotive, robotics and marine industries.
				</p>
			</div>

			<div class='glyph col-md-4'>
				<%= fa_icon 'laptop 4x' %>
				<h4 class='title'> Upcoming Events </h4>
				<p>
					Iris Dynamics Control Yoke will be featured at the NASA booth at the Oshkosh Airshow.
				</p>
			</div>
		</div>
