	<div class='row glyph-wrapper'>
		<div class='glyph col-md-4'>
			<%= fa_icon 'fighter-jet 4x' %>
			<h4 class='title'> Human Feedback </h4>
			<p>
				Human feedback refers to tactile feedback technology that allows the user to feel the forces acting upon remote machines or vehicles.
				These are known as Control Loading systems (CLS) in the flight simulation industry.
			</p>
		</div>

		<div class='glyph col-md-4'>
			<%= fa_icon 'ship 4x' %>
			<h4 class='title'> Compatibility </h4>
			<p>
				Our yoke is compatible with X-Plane out of the box, and supports the SimConnect
				plugin for use with Prepa3D and FSX.
			</p>
		</div>

		<div class='glyph col-md-4'>
			<%= fa_icon 'plane 4x' %>
			<h4 class='title'> Realistic Trim </h4>
			<p>
				In flight and on commercial-level flight simulators, pilots can adjust trim to create neutral pressure on the yoke.
				This function is unavailable in all but the most expensive simulation systems but is now a part of our yoke.
			</p>
		</div>
	</div>
