<div class='owl-carousel'>
    <div class='item'>
			<%= image_tag 'iStock_000001164522_Large.jpg', class: 'slide-image' %>
			<h1> This is a heading </h1>
    </div>
		<div class='item'>
			<%= image_tag 'iStock_000001325599_Large.jpg', class: 'slide-image' %>
		</div>
		<div class='item'>
			<%= image_tag 'iStock_000016563271_Medium.jpg', class: 'slide-image' %>
		</div>
		<div class='item'>
			<%= image_tag 'iStock_000016642189_Medium.jpg', class: 'slide-image' %>
		</div>
</div>
