<div class='owl-carousel'>
		<div class='item'>
			<div class='item-desc'>
				<h1 class='title'> Feel the Wind </h1>
				<h2 class='tagline'> With our Control Loading yoke. </h2>
			</div>
			<%= image_tag 'iStock_000001325599_Large.jpg', class: 'slide-image' %>
		</div>

		<div class='item'>
			<div class='item-desc'>
				<h1 class='title'> </h1>
				<h2 class='tagline'> Feel the wind in your wings. </h2>
			</div>
			<%= image_tag 'iStock_000001164522_Large.jpg', class: 'slide-image' %>
		</div>

		<div class='item'>
			<%= image_tag 'iStock_000016563271_Medium.jpg', class: 'slide-image' %>
		</div>

		<div class='item'>
			<%= image_tag 'iStock_000016642189_Medium.jpg', class: 'slide-image' %>
		</div>
</div>

<div class='owl-controls'>
	<div class='dot-wrapper'>
		<div class='owl-dots myDots'></div>
	</div>
</div>
