<div class='head-image'>
	<div class='item-desc'>
		<span class='title'>IRIS DYNAMICS</span> <br>
		<span class='tagline'>We are the advanced motion control systems innovator that provides precision control-loading
		actuator systems for aerial, marine and terrestrial vehicles, factory automation, simulation and remote control.</span>
	</div>
	<%= image_tag 'iStock_000005642497Large.jpg', class: 'slide-image' %>
</div>
