<div class='slider-carousel'>
		<div class='item'>
			<div class='item-desc'>
				<span class='title'> Feel the Wind </span> <br>
				<span class='tagline'> With the Iris Commander <br>
				Control Loading yoke. </span>
			</div>
			<%= image_tag 'iStock_000005642497Large.jpg', class: 'slide-image' %>
		</div>

		<div class='item'>
			<div class='item-desc'>
				<h1 class='title'> </h1>
				<h2 class='tagline'> </h2>
			</div>
			<%= image_tag 'iStock_000001325599_Large.jpg', class: 'slide-image' %>
		</div>

		<div class='item'>
			<%= image_tag 'iStock_000016563271_Medium.jpg', class: 'slide-image' %>
		</div>

		<div class='item'>
			<%= image_tag 'iStock_000016642189_Medium.jpg', class: 'slide-image' %>
		</div>
</div>

<div class='owl-controls sliderNav'>
	<div class='dot-wrapper'>
		<div class='owl-dots sliderDots'></div>
	</div>
</div>
