<div class='owl-carousel'>
    <div class='slide'>
			<%= image_tag 'iStock_000001164522_Large.jpg', class: 'slide-image' %>
    </div>
		<div class='slide'>
			<h1> This is my slide! </h1>
		</div>
</div>
