<div class='slider-carousel'>
		<div class='item'>
			<div class='item-desc'>
				<span class='title'>IRIS DYNAMICS</span> <br>
				<span class='tagline'>We are the advanced motion control systems innovator that provides precision control-loading
				actuator systems for aerial, marine and terrestrial vehicles, factory automation, simulation and remote control.</span>
			</div>
			<%= image_tag 'iStock_000005642497Large.jpg', class: 'slide-image' %>
		</div>

		<div class='item'>
			<div class='item-desc'>
				<span class='title'> Feel the Wind </span> <br>
				<span class='tagline'> With the IRIS DYNAMICS Commander <br>
				Control Loading yoke. </span>
			</div>
			<%= image_tag 'iStock_000001325599_Large.jpg', class: 'slide-image' %>
		</div>

		<div class='item'>
			<div class='item-desc'>
				<span class='title'> Actuate the Positive </span> <br>
				<span class='tagline'> With IRIS DYNAMICS Control Loading systems. </span>
			</div>
			<%= image_tag 'iStock_000016563271_Medium.jpg', class: 'slide-image' %>
		</div>

		<div class='item'>
			<%= image_tag 'iStock_000016642189_Medium.jpg', class: 'slide-image' %>
		</div>
</div>

<div class='owl-controls sliderNav'>
	<div class='dot-wrapper'>
		<div class='owl-dots sliderDots'></div>
	</div>
</div>
