<div class='container'>
	<div class='col-md-2'>
		<h2> Executives </h2>
	</div>
	<div class='col-md-10'>
		<h1> Corporate Overview </h1>
			<p class='col-md-12'>Iris Dynamics, Ltd. is a privately held Canadian advanced technology company 
			that provides high performance motion control systems for the realistic 
			simulation and precision remote operation of aerial, marine and land vehicles. 
			Iris has developed a new class of variable force electric linear actuator with 
			applications in a wide variety of industries. The core technology has immediate
			applications in the human-machine interface (Haptics) environment as well as 
			other industrial control environments. Iris has launched the first generation of 
			these devices into the flight simulator control loading market for both consumer 
			and commercial applications.</p>

			<p class='col-md-12'>Iris has filed for a PCT Patent (international) on the core technology and has a 
			second provisional process patent on the underlying production methods for 
			manufacturing the core component.
			Currently Iris’s customers are mostly comprised of individual home users after a 
			successful Kickstarter campaign in 2013. Additionally a number of corporate and 
			government purchasers such as the National Aeronautics and Space 
			Administration’s (NASA) Flight Research division, and the Federal Aviation 
			Administration (FAA) have also requested units, along with several systems 
			integrators.</p>

			<p class='col-md-12'>Iris is currently working on a partnership with Precision Flight Controls an 
			international leader in the Flight Training Device (FTD) market that would see 
			Iris’s technology intergraded into many of their products.</p>

		<%# <h1> Products and Services </h1> %>
		<%# <p class='col-md-12'> Control loading is the commercial simulator industry’s term for force %>
		<%# feedback/Haptics. Control loading is an absolute must for modern commercial %>
		<%# flight training. In the simplest terms it permits the fundamental feel of hands on %> 
		<%# piloting while in a simulated environment. The challenge to date has been the %>
		<%# historic cost of control loading systems, which usually relied on very complex %> 
		<%# drive systems or utilized high cost magnetic arrays. Iris’s technology, has a %> 
		<%# substantially lower cost, increased reliability, and higher resolution feel compared %> 
		<%# to competing technologies/products. This allows Iris to be competitively priced %> 
		<%# with better margins when compared to the nearest competitors.</p> %>
		<%# <p class='col-md-12'> Iris is currently selling a prosumer priced control loading yoke to the global home %> 
		<%# user flight simulator market. Iris is extend its market penetration first into the %>
		<%# commercial FTD market, and then eventually into the wider simulation training %> 
		<%# space by way of custom actuator manufacturing/licensing. Beyond the simulation %> 
		<%# training markets, the ultimate goal is to enter the industrial motor controls space %> 
		<%# with eventual uses in automotive, robotics, marine, and aerospace applications.</p> %>
	</div>
</div>
