<div class='col-md-12'>

	<h2 class='mission'> IRIS Dynamics provides high precision motion control systems enabling the remote operation of aerial, marine and land vehicles. </h2>

		<%= render "news/index" %>

	<div class='row glyph-wrapper'>
		<div class='glyph col-md-4'>
			<%= fa_icon 'fighter-jet 4x' %>
			<h4 class='title'> Control Loading </h4>
			<p>
				CL is the commerical sim industry's term for force feedback and is an absolute
				must if you want to train and fly with the fundamental feel of hands on piloting.
			</p>
		</div>

		<div class='glyph col-md-4'>
			<%= fa_icon 'ship 4x' %>
			<h4 class='title'> Xplane Prepa3D FSX </h4>
			<p>
				Our yoke is compatible with X-Plane out of the box, and supports the SimConnect
				plugin for use with Prepa3D and FSX.
			</p>
		</div>

		<div class='glyph col-md-4'>
			<%= fa_icon 'laptop 4x' %>
			<h4 class='title'> SDK </h4>
			<p>
				Our SDK is available to commercial partners.  It includes full source
				for the Arduino libraries and internal documentation.
			</p>
		</div>
	</div>
</div>

