<div class='col-md-12'>

		<%= render "news/index" %>

	<h2 class='mission'> IRIS Dynamics provides high precision motion control systems enabling the remote operation of aerial, marine and land vehicles. </h2>

	<div class='row'>
		<div class='glyph col-md-4'>
			<%= fa_icon 'fighter-jet 4x' %>
			<p>
				This is my super good thing and descriptioYp
				This is my super good thing and descriptioYp
				This is my super good thing and descriptioYp
				This is my super good thing and descriptioYp
			</p>
		</div>

		<div class='glyph col-md-4'>
			<%= fa_icon 'laptop 4x' %>
			<p>
				This is my super good thing and descriptioYp
				This is my super good thing and descriptioYp
				This is my super good thing and descriptioYp
				This is my super good thing and descriptioYp
			</p>
		</div>

		<div class='glyph col-md-4'>
			<%= fa_icon 'ship 4x' %>
			<p>
				This is my super good thing and descriptioYp
				This is my super good thing and descriptioYp
				This is my super good thing and descriptioYp
				This is my super good thing and descriptioYp
			</p>
		</div>
	</div>
</div>

