<%= render "shared/slider" %>
<div class='main-content container'>
	<div class='col-md-12'>

		<%# <h2 class='mission'> IRIS Dynamics provides high precision motion control systems enabling the remote operation of aerial, marine and land vehicles. </h2> %>
		<h2 class='mission'> Human-Feedback Control Systems for Remote Operation of Aviation, Drones, Robotics, Marine and Land Vehicles.</h2>
		<%# <h2 class='mission'> Iris has developed a innovative control system ideally suited for use in remote drone and robotic applications. </h2> %>

		<%= render "news/index" %>

		<%= render "shared/home_glyphs" %>
	</div>
</div>
