<%= render "shared/slider" %>

<h2 class='mission-statement'> IRIS Dynamics provides high precision motion control systems enabling the remote operation of aerial, marine and land vehicles. </h2>

<%= render "news/index" %>

