<%= render "shared/slider" %>
<div id="welcome">
	<h2> IRIS Dynamics provides high precision motion control systems enabling the remote operation of aerial, marine and land vehicles. </h2>
</div>

<%= render "news/index" %>

