<div>
	<h1 class='news-buttons'> <%= @news.title %> </h1>
	<% if spree_current_user.admin? %>
			<%= link_to 'Edit', edit_news_path(@news), class: 'btn btn-default news-buttons' %>
	<% end %>
</div>

<div class='col-xs-12'>
	<%= image_tag @news.image.url(:large), class: 'full-width'%>
</div>

<div class='col-xs-12' id='news-body'>
	<%= raw @news.body %>
</div>
