<%= render 'shared/nav_menu' %>

<div id='news-edit' class='container'>
	<div class='row'>
		<div class='col-xs-12'>
			<h1>Editing News</h1>

			<%= link_to 'Show News', @news, class: 'btn btn-default' %>
			<%= link_to 'Delete', @news, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger news-buttons' %>

			<%= render 'form' %>
		</div>
	</div>
</div>
