<%= render 'shared/nav_menu' %>

<div id='news-show-wrapper' class='container clearfix'>
	<div class='col-md-8' id='news-article'>
		<%= render 'news/show' %>
	</div>

	<div class='col-md-4' id='news'>
		<%= render "news/index" %>
	</div>
</div>
