#products-services {

	.products {

		.product-teaser {
			/* text-align: center; */
		}

		a {
			display: block;

			img {
				margin: 0 auto;
				max-height: 250px;
				max-width: 250px;
			}
		}
	}
}


