$navbar-height: 65px;
body {
	padding-top: $navbar-height;
}

.navbar#header {

	p {
		margin: 0;
		padding: 0;
	}

	.navbar-brand {
		line-height: $navbar-height;
		height: $navbar-height;
		padding: 0;

		img {
			height: $navbar-height;
			padding: 10px 0;
		}
	}

	.navbar-nav {
		padding: 0;

		li a {
			/* line-height: $navbar-height; */
			/* height: $navbar-height; */
			padding: 0 15px;

			h4 {
				line-height: $navbar-height;
				margin: 0;
				padding: 0 15px;
			}
		}
	}
}
