.head-image {
	height: 700px;

	#slide-1 {
		background-image: image-url('iStock_000005642497Large.jpg');
		background-attachment: fixed;
		background-size: cover;
		height: 100%;
		width: 100%;
	}

	.item-desc {
		text-align: center;
		top: 10%;
		width: 65%;
		left: 17.5%;
		position: absolute;
		z-index: 1;
		color: #eee;
		text-shadow: 3px 3px 5px #333,
								-1px -1px 3px #777;

		.title {
			font-size: 6em;

			@media (max-width: 768px) {
				font-size: 4em;
				margin: 0;
			}
		}

		.tagline {
			font-size: 2em;

			@media (max-width: 768px) {
				font-size: 2em;
			}
		}
	}
}
