// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glyph {
	text-align: center;
}

img.news-thumb {
	margin: 0 7px 0 0;
}

.page-link {
	&:link {
		font-size: 16px;
		text-align: center;
	}

	&:before {
	border: none;
	font-size: 25px;
	display: block;
	margin: 0 auto -38px auto;
	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

.news-page-link-wrapper {
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
