$border-bottom-width: 1px;

$navbar-height: 75px - $border-bottom-width;

.nav-anchor {

	&:before {
		content: '';
		display: block;
		height: 75px;
		margin-top: -75px;
	}
}

.head-image {
	margin-bottom: $navbar-height;
}

.navbar#nav-menu {
	margin-bottom: 0;
	border: 0;
	border-bottom: $border-bottom-width solid #222;
	position: fixed;
	top: 0;

	height: $navbar-height;
	width: 100%;

	opacity: 0.96;
	z-index: 1;

	&.offset {
		margin-top: -$navbar-height;
	}

	.navbar-header {
		height: $navbar-height;

		.navbar-toggle {
			margin-top: 20px;
		}
	}

	p {
		margin: 0;
		padding: 0;
	}

	.navbar-brand {
		line-height: $navbar-height;
		height: $navbar-height;
		/* position: absolute; */
		/* width: 30%; */
		/* left: 35%; */
		padding: 0 0 0 15px;

		@media (max-width: 768px) {
			position: static;
		}
		img {
			height: $navbar-height;
		}
	}

		img {
			margin: 0 auto;
			padding: 10px 0;
		}

	.navbar-nav {
		padding: 0;

		li a {
			padding: 0 15px;

			@media (min-width: 768px) and (max-width: 1200px) {
				padding: 0;
			}

			h4 {
			@media (min-width: 768px) and (max-width: 1200px) {
					font-size: 1em;
				}
				line-height: $navbar-height;
				margin: 0;
				padding: 0 15px;

			}
		}
	}
}
