// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#news-show-wrapper {
	padding-top: 75px;
	padding-bottom: 15px;
}

.page-link {
	&:link {
		font-size: 16px;
		text-align: center;
	}

	&:before {
	border: none;
	font-size: 25px;
	display: block;
	margin: 0 auto -38px auto;
	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

#news-index-content {

	.news-page-link-wrapper {
		padding: 10px 0;
		width: 100%;
		text-align: center;
	}
	.news-teaser-link-wrapper {
		width: 100%;
	}

	.news-teaser-wrapper {
		max-width: 550px;
		padding: 15px 0;
		margin: 0 auto;
		border-bottom: 1px dotted #ccc;

		.news-title {
			text-transform: uppercase;
			padding: 0;
			h4 {
				margin: 0;
				padding: 6px 0;
			}
		}

		.news-teaser-more-link {
			margin: 0;
			padding: 0;
		}

		img {
			display: block;
			height: 80px;
			width: 80px;
			margin: 0 auto;
		}
	}
}

img.full-width  {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 15px 0;
}

.news-buttons {
	display: inline;
}
