// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#news {

	.news-teaser-link-wrapper {
		display: table;
		width: 100%;
	}

	.news-teaser-wrapper {
		max-width: 450px;
		background: no-repeat center content-box;
		padding-top: 10px;
		margin: 0 auto;

		.news-teaser-content {
			height: 150px;
			margin: 10px;


			.news-body,
			.news-title {
				p,
				h4
				{
					padding: 6px 13px;
					margin: 0;
				}
			}

			.translucent {
				background: #ccc;
				opacity: 0.85;
			}
		}
	}
}

img.full-width  {
	width: 100%;
}

