// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#news-show-wrapper {
	padding-top: 75px;
	padding-bottom: 15px;
}

.page-link {
	&:link {
		font-size: 16px;
		text-align: center;
	}

	&:before {
	border: none;
	font-size: 25px;
	display: block;
	margin: 0 auto -38px auto;
	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

#news {

	.news-page-link-wrapper {
		padding: 10px 0;
		width: 100%;
		text-align: center;
	}
	.news-teaser-link-wrapper {
		display: table;
		width: 100%;
	}

	.news-teaser-wrapper {
		max-width: 450px;
		width: 100%;
		background: no-repeat center content-box;
		padding-top: 10px;
		margin: 0 auto;

		.news-teaser-content {
			height: 150px;
			margin: 10px;


			.news-body,
			.news-title {
				p,
				h4
				{
					padding: 6px 13px;
					margin: 0;
				}
			}

			.translucent {
				background: #ccc;
				opacity: 0.85;
			}
		}
	}
}

img.full-width  {
	width: 100%;
}

